In [2]:
import seaborn as sns

In [4]:
# 타이타닉 학습용 데이터셋 
titanic = sns.load_dataset('titanic')

In [7]:
print(titanic)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [10]:
import statsmodels.api as sm 
import numpy as np
from sklearn.preprocessing import LabelEncoder
# 로지스틱 회귀분석 : 성공, 실패중 하나의 클래스를 예측할 때 사용 
# k개의 설명변수가 주어졌을 때 어떤 이벤트 A 가 발생할 확률 계산 
# 선형 회귀분석과 다른점은 종속변수가 0과 1이 되어야 한다.

In [15]:
encoder = LabelEncoder()
encoder.fit(titanic['sex'])
sex = encoder.transform(titanic['sex']) # male, female 값을 숫자로 변환 
titanic['sex'] = sex

# 로지스틱 회귀분석을 수행하는 함수 
model = sm.Logit.from_formula('survived ~ pclass + sex + age + fare + parch + sibsp', data=titanic) 
logit = model.fit() # 데이터 모델 학습 
print(logit.summary())

print("OR")
print(np.exp(logit.params))

     survived  pclass  sex   age  sibsp  parch     fare embarked   class  \
0           0       3    1  22.0      1      0   7.2500        S   Third
1           1       1    0  38.0      1      0  71.2833        C   First
2           1       3    0  26.0      0      0   7.9250        S   Third
3           1       1    0  35.0      1      0  53.1000        S   First
4           0       3    1  35.0      0      0   8.0500        S   Third
..        ...     ...  ...   ...    ...    ...      ...      ...     ...
886         0       2    1  27.0      0      0  13.0000        S  Second
887         1       1    0  19.0      0      0  30.0000        S   First
888         0       3    0   NaN      1      2  23.4500        S   Third
889         1       1    1  26.0      0      0  30.0000        C   First
890         0       3    1  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]
Optimization terminated successfully.
         Current function value: 0.445244
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                  714
Model:                          Logit   Df Residuals:                      707
Method:                           MLE   Df Model:                            6
Date:                Thu, 07 Mar 2024   Pseudo R-squ.:                  0.3408
Time:                        10:00:29   Log-Likelihood:                -317.90
converged:                       True   LL-Null:                       -482.26
Covariance Type:            nonrobust   LLR p-value:                 5.727e-68
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.3890      0.604      8.926      0.000       4.206       6.572
pclass        -1.2422      0.163     -7.612      0.000      -1.562      -0.922
sex           -2.6348      0.220    -11.998      0.000      -3.065      -2.204
age           -0.0440      0.008     -5.374      0.000      -0.060      -0.028
fare           0.0022      0.002      0.866      0.386      -0.003       0.007
parch         -0.0619      0.123     -0.504      0.614      -0.303       0.179
sibsp         -0.3758      0.127     -2.950      0.003      -0.625      -0.126
==============================================================================
OR
Intercept    218.984972
pclass         0.288734
sex            0.071730
age            0.956999
fare           1.002162
parch          0.939942
sibsp          0.686771
dtype: float64

In [ ]:
# 오즈비(or): 어떤 사건이 일어날 확률(P)을 사건이 일어나지 않을 확률(1-P)로 나눈 값
# 사건이 발생하지 않을 확률 * 오즈비 = 사건이 발생할 확률 

# p-value 가 0.05 보다 작을 때 유의미한 변수로 판단 

# 오즈비가 1보다 크면 해당 독립변수의 값이 증가할 때 종속 변수의 로그 오즈도 같이 증가하고
# 오즈비가 1보다 작으면 독립변수의 값이 증가할 때 종속변수의 로그 오즈의 값이 감소한다. 

# sex(독립변수) : 1 남성, 0: 여성, survived(종속변수) : 1 생존, 0 생존 X 
# sex의 오즈비 값이 0.07 이므로 
# 남성(1)생존확률  = 여성(0)생존확률 * 0.07